.header {
    width: 100%;
    min-height: 408px;
    background: var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 100%;
    height: 136px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 69px;
    height: 100%;
    width: max-content;
    padding-left: 0;
}

.letters-group {
    display: flex;
    text-align: start;
    align-items: flex-start;
    justify-content: center;
}

.letter {
    width: min-content;
    display: inline-block;
    color: var(--text-color);
    font-size: 88.16px;
    font-weight: 700;
    text-transform: uppercase;
}

.letter.i {
    transform: rotate(270deg);
}

.letter.b {
    margin-right: 5px;
}

.letter.v {
    margin: auto 15px;
    transform: rotate(270deg);
}

.letter.u {
    margin-right: -30px;
}

.letter.m {
    width: min-content;
    transform: rotate(90deg);
    padding-right: 7px;
}

.word {
    color: var(--text-color);
    font-size: 80px;
    font-weight: 900;
    line-height: 100px;
    word-wrap: break-word;
    flex-shrink: 0;
    text-transform: uppercase;
}

.word1 {
    color: #bb77cc4d;
    font-size: 80px;
    font-weight: 900;
    line-height: 100px;
    word-wrap: break-word;
    flex-shrink: 0;
    text-transform: uppercase;

}

/* Анимации движения */
@keyframes moveRight {

    0%,
    100% {
        transform: translateX(-150px);
    }

    50% {
        transform: translateX(0px);
    }
}

@keyframes moveLeft {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }
}

@keyframes moveRightSlow {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

/* Анимация для буквы V */
@keyframes fadeV {

    0%,
    100% {
        opacity: 0.5;
        transform: rotate(270deg) scale(0.8);
    }

    50% {
        opacity: 1;
        transform: rotate(270deg) scale(1);
    }
}

/* Применение анимаций к контейнерам */
.container-1 .content {
    animation: moveRight 4s ease-in-out infinite;
}

.container-2 .content {
    animation: moveLeft 3.5s ease-in-out infinite;
}

.container-3 .content {
    animation: moveRightSlow 5s ease-in-out infinite;
}

/* Анимация для всех букв V */
.letter.v {
    animation: fadeV 3s ease-in-out infinite;
}

.main-content {
    max-width: 100vw;
    background: var(--bg-color);
}

.grid-container {
    width: 100%;
    min-height: 1818px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.75fr);
    gap: 0;
    padding: 0;
    background-color: var(--grid-bg-color);
    box-sizing: border-box;
}

.grid-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    min-height: 565px;
    background-color: transparent;
    cursor: url('../images/cursor-key.svg') 16 16, pointer;
}

.cell-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-colors {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    z-index: 2;
}

.color-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 138px;
    background: #FFE672;
}

.color-bottom {
    position: absolute;
    top: 124.23px;
    left: 0;
    width: 100%;
    height: 50.77px;
    background: #F0BD03;
}

.cell-title {
    color: #bb77cc4d;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 3;
    opacity: 0.8;
    transition: all 0.4s ease;
    pointer-events: none;
    text-align: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.cell-title .letter {
    display: inline-block;
    color: #BB77CC;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: center;
}

.cell-title .letter[data-rotate] {
    position: relative;
    z-index: 2;
}

.grid-cell:hover .cell-title {
    opacity: 1;
    color: var(--bg-color);
    transform: translateY(-3px) scale(1.05);
}

.grid-cell:hover .cell-title .letter {
    color: var(--bg-color);
}

.cell-1:hover .cell-title .letter[data-rotate],
.cell-3:hover .cell-title .letter[data-rotate],
.cell-5:hover .cell-title .letter[data-rotate] {
    transform: rotate(90deg);
    color: var(--bg-color);
}

.cell-2:hover .cell-title .letter[data-rotate],
.cell-4:hover .cell-title .letter[data-rotate],
.cell-6:hover .cell-title .letter[data-rotate] {
    transform: rotate(90deg);
    color: var(--bg-color);
}

.cell-image-container {
    position: relative;
    width: 100%;
    height: calc(100% - 200px);
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 30px;
    box-sizing: border-box;
}

.grid-image {
    width: 100%;
    height: calc(100vw/2);
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
    cursor: url('../images/cursor-key.svg') 16 16, pointer;
}

.grid-image:active {
    cursor: url('../images/cursor-key.svg') 16 16, pointer;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }
}

@keyframes gentleWobble {
    0%, 100% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(4deg);
    }

    66% {
        transform: rotate(-4deg);
    }
}

@keyframes moveRightLeft {
    0%, 100% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(10px);
    }

    66% {
        transform: translateX(-10px);
    }
}

@keyframes moveRightLeftRotate {
    0% {
        transform: rotate(3deg) translateX(0);
    }

    15% {
        transform: rotate(2deg) translateX(-100%);
    }

    25% {
        transform: rotate(1deg) translateX(-100%) scaleX(-1);
    }

    40% {
        transform: rotate(0deg) translateX(0) scaleX(-1);
    }

    60% {
        transform: rotate(0deg) translateX(-100%) scaleX(-1);
    }

    75% {
        transform: rotate(1deg) translateX(-100%);
    }

    85% {
        transform: rotate(2deg) translateX(0);
    }

    100% {
        transform: rotate(3deg) translateX(0);
    }
}

.cell-1:hover .grid-image {
    animation: wobble 2.5s ease-in-out infinite;
}

.cell-2:hover .grid-image {
    animation: moveRightLeft 2s ease-in-out infinite;
}

.cell-3:hover .grid-image {
    animation: moveRightLeftRotate 10s ease-in infinite;
}

.cell-4:hover .grid-image {
    animation: gentleWobble 2.2s ease-in-out infinite;
}

.cell-5:hover .grid-image {
    animation: wobble 2.3s ease-out infinite;
}

.cell-6:hover .grid-image {
    animation: gentleWobble 1.9s ease-in-out infinite;
}

.footer {
    width: 100%;
    min-height: 702px;
    display: flex;
    flex-direction: column;
    background: #EEC1F9;
    overflow: hidden;
    padding-top: 90px;
}

@keyframes gradientMove {
    0% {
        transform: translateX(-66.666%);
    }

    100% {
        transform: translateX(0);
    }
}

.footer-logo-bivium {
    position: relative;
    width: 80vw;
    z-index: 3;
    margin: auto;
    border: none;
    background: #EEC1F9;
    overflow: hidden;
}

.footer-logo-bivium::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 90%;
    background: linear-gradient(90deg,
            #FF00FF 0%,
            #BB77CC 20%,
            #FFE672 40%,
            #FFF269 60%,
            #FF00FF 80%,
            #BB77CC 100%);
    background-size: 100% 100%;
    z-index: 0;
    animation: gradientMove 8s ease-in-out infinite alternate;
}

.logo-bivium {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.footer-running-line {
    width: 100%;
    min-height: 100px;
    background: var(--bg-color);
    z-index: 2;
    overflow: hidden;
}

.running-line-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.running-line-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: runningLine 40s linear infinite;
    padding-left: 100%;
}

.running-line-text span {
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100px;
    margin-right: 100px;
}

@keyframes runningLine {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.footer-logo-hse {
    margin-top: 120px;
    width: 100vw;
    min-height: 163px;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo-hse {
    width: max-content;
    height: 163px;
    object-fit: contain;
    padding: 0 24px 24px 24px;
}

.footer-info {
    padding-right: 24px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer-name {
    color: #4C2712;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer-group {
    color: #4C2712;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Анимация сияния */
@keyframes glowEffect {
    0%, 100% {
        filter: drop-shadow(0 0 10px rgba(187, 119, 204, 0.5));
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 105, 0.8));
    }
}

/* Анимация мягкого пульса */
@keyframes softPulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }
}


@media (max-width: 1280px) {
    .header {
        min-height: 300px;
    }

    .container {
        height: 100px;
    }

    .content {
        gap: 40px;
    }

    .letter {
        font-size: 70px;
    }

    .letter.u {
        margin-right: -22px;
    }

    .letter.m {
        padding-right: 5px;
    }

    .word,
    .word1 {
        font-size: 64px;
        line-height: 80px;
    }

    .grid-container {
        min-height: 100vh;
    }

    .grid-cell {
        min-height: 400px;
    }

    .cell-colors {
        height: 140px;
    }

    .color-top {
        height: 110px;
    }

    .color-bottom {
        height: 40px;
        top: 100px;
    }

    .cell-title .letter {
        font-size: 70px;
        gap: 0.5px;
    }

    .cell-image-container {
        height: calc(100% - 150px);
    }

    .grid-image {
        height: calc(100vw/2);
    }

    .footer {
        min-height: 600px;
    }

    .running-line-text span {
        font-size: 26px;
        line-height: 100px;
        margin-right: 80px;
    }

    .logo-hse {
        padding: 0 20px 0 20px;
    }

    .footer-info {
        padding-right: 20px;
    }

    .footer-name,
    .footer-group {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 225px;
    }

    .container {
        height: 75px;
    }

    .content {
        gap: 20px;
    }

    .letter {
        font-size: 50px;
    }

    .letter.b {
        margin-right: 2px;
    }

    .letter.v {
        margin: auto 10px;
    }

    .letter.u {
        margin-right: -16px;
    }

    .letter.m {
        padding-right: 3px;
    }

    .word,
    .word1 {
        font-size: 45px;
        line-height: 55px;
    }

    /* Уменьшаем амплитуду анимации на мобильных */
    @keyframes moveRight {

        0%,
        100% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50px);
        }
    }

    @keyframes moveLeft {

        0%,
        100% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-50px);
        }
    }

    @keyframes moveRightSlow {

        0%,
        100% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(25px);
        }
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 0.5fr);
    }

    .grid-cell {
        min-height: 250px;
        grid-column: 1;
    }

    .cell-colors {
        height: 100px;
    }

    .color-top {
        height: 79px;
    }

    .color-bottom {
        height: 29px;
        top: 71px;
    }

    .cell-title .letter {
        font-size: 50px;
    }

    .cell-image-container {
        height: calc(100% - 100px);
    }

    .grid-image {
        height: 100vw;
        max-width: 70vw;
    }

    .grid-cell::before {
        transition: opacity 1s ease-in-out;
    }

    .grid-cell:hover::before {
        width: 100%;
        transform: translateX(0);
    }

    .footer {
        min-height: 400px;
        padding-top: 50px;
    }

    .footer-logo-bivium {
        width: 90vw;
        margin-bottom: 20px;
    }

    .footer-running-line {
        min-height: 60px;
    }

    .running-line-text span {
        font-size: 20px;
        line-height: 70px;
        margin-right: 60px;
    }

    .footer-logo-hse {
        margin-top: 90px;
        min-height: 120px;
    }

    .logo-hse {
        width: max-content;
        height: 100px;
    }

    .footer-name,
    .footer-group {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    .cell-image-container {
        height: calc(100% - 62px);
        padding: 20px;
    }

    .grid-cell {
        margin-top: 20px;
    }

    .grid-image {
        height: 100vw;
        max-width: 80vw;
    }

    .footer {
        min-height: auto;
        height: auto;
        padding-top: 30px;
    }

    .footer-logo-bivium {
        width: 90vw;
    }

    .footer-logo-hse {
        min-height: auto;
        height: auto;
        margin-top: 60px;
        padding-bottom: 14px;
    }

    .logo-hse {
        height: 60px;
        padding-left: 14px;
    }

    .footer-info {
        padding: 0 14px 0 0;
    }

    .footer-name {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .footer-group {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .header {
        min-height: 150px;
    }

    .container {
        height: 50px;
    }

    .content {
        gap: 10px;
    }

    .letter {
        font-size: 35px;
    }

    .letter.v {
        margin: auto 6px;
    }

    .letter.u {
        margin-right: -10px;
    }

    .letter.m {
        padding-right: 2px;
    }

    .word,
    .word1 {
        font-size: 30px;
        line-height: 35px;
    }

    .cell-colors {
        height: 62px;
    }

    .color-top {
        height: 49px;
    }

    .color-bottom {
        height: 18px;
        top: 44px;
    }

    .cell-title .letter {
        font-size: 35px;
    }

    .cell-image-container {
        height: calc(100% - 72px);
        padding: 14px;
    }

    .grid-cell {
        margin-top: 0;
    }

    .grid-image {
        height: 100vw;
        max-width: 90vw;
    }

    .footer-running-line {
        height: 50px;
    }

    .footer-logo-hse {
        margin-top: 30px;
    }

    .running-line-text span {
        font-size: 14px;
        line-height: 50px;
        margin-right: 30px;
    }
}