* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}