@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");
@import url('animations.css');
@import url('reset.css');
@import url('content.css');

:root {
  --bg-color: #FFF269;
  --text-color: #BB77CC;
  --grid-bg-color: #DEAEED;
}